.typist-container {
    position: absolute;
    top: 55%;
    left: 4%;
    font-family: 'Courier New', Courier, monospace;
}
.typist-span-1 {
    font-size: 2.3rem;
}
.typist-span-2 {
    font-size: 1rem;   
}